$font-base:         'Fredoka', sans-serif;

$bg-base:           #000000;
$bg-panel:          #111e2b;
$bg-element:        #193043;
$bg-element-hover:  #1f3a54;
$text-muted:        #8ba8be;
$accent:            #a99cff;
